<div class="holder">
  <header class="header index">
    <section class="navigation container ">
      <div class="col-sm-12 col-md-12 pt-10 pb-10 pr-0 pl-0 valign-wrapper">
        <div class="head-left col-md-6 col-sm-6 col-xs-6 valign-wrapper">
          <span class="wrapper">
            <a title="Justdial" href="https://www.justdial.com/" class="pull-left logo" >
              <img alt="Justdial" src="https://akam.cdn.jdmagicbox.com/images/icontent/jdrwd/jdlogosvg.svg" width="125px">
            </a>
            <a class="nwprodys" href="https://www.justdial.com/cms/investor-relations/whats-new" title="What's New">What's New</a>
          </span>
        </div>
        <div id="navhver" class="head-right pull-right col-md-6 col-sm-6 col-xs-6 pr-0 pl-0">
          <ul class="head-list pull-right valign-wrapper">
            <li class="button-top">
              <a title="List your business for free" id="h_flist" href="https://www.justdial.com/Free-Listing" class="button">Free Listing</a>
            </li>
            <li>
              <a href="https://www.justdial.com/Advertise">
                <span class="pl-5 list-text" id="h_adv">Advertise</span>
              </a>
            </li>
            <li class="lang_outer">
              <span class="pl-5 list-text" type="button" id="lng_drpdwn" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                <span id="tgl_lang">English</span>
                <i class="lanarw "></i>                
              </span>
              <!-- <ul id="lng_drpdwn" class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <li>
                  <a>English</a>
                </li>
                <li>
                  <a>हिन्दी</a>
                </li>
                <li>
                  <a>मराठी</a>
                </li>                  
              </ul> -->
            </li>
            <!-- <li class="login">
              <ul>
                <li>
                  <a rel="nofollow" data-toggle="modal" data-target="#jul" href="javascript:void(0);">
                    <span class="pr-5 list-text" id="h_login">Login</span>
                  </a>
                </li>
                <li>
                  <span class="text-lowercase">/</span>
                </li>
                <li>
                  <a rel="nofollow" data-toggle="modal" data-target="#jul" href="javascript:void(0);">
                    <span class="pr-5 list-text" id="h_sin_up">Sign Up</span>
                  </a>
                </li>
              </ul>
            </li>-->
          </ul>
        </div> 
      </div>
    </section>
  </header>
  <div class="banner">
    <div class="container">
      <div class="col-md-3 col-sm-3 col-xs-3">
        <a title="Real Estate in Mumbai">
          <span class="hotkeys_sprite hotkeys-icon reale-icon"></span>
          <span class="hotkeys-text">Real Estate</span>
        </a>
      </div>
    </div>
  </div>
</div>